<!DOCTYPE html>
<html>
<head>
    <style>
        .links {
            margin-top: 80px;
            margin-left: 100px;
        }

        h1 {
            margin-left: 100px;
        }
        .allposts {
            margin-top: 80px;
        }
    </style>
	<title>Assessment 3</title>
</head>
<body>	
		<%- body %>
</body>
</html>