<!DOCTYPE html>
<html>
<head>
    <style>
        .links {
            margin-top: 80px;
            margin-left: 100px;
        }

        h1 {
            margin-left: 100px;
        }
        .allposts {
            margin-top: 80px;
        }

        table{
            border: 1px solid black;
        }

        tr {
            border: 1px solid black;
        }

        th {
            border: 1px solid black;
        }

        td {
            border: 1px solid black;
        }

        .container {
            margin-top: -60px; padding: 100px;
        }
    </style>
	<title>Assessment 3</title>
</head>
<body>	
		<%- body %>
</body>
</html>