
<div class="links"><a href="/">HOME</a> | <a href="/posts">ALL POSTS</a></div>

<div class="allposts"><h1 style=>All Posts</h1></div>


<div class="container">
<table>
    <tr>
        <th>Title</th>
        <th>Body</th>
    </tr>
    <% posts.forEach(b => { %>
    <tr>
        <td> <%= b.title %></td>
        <td> <%= b.body %> </td>
    </tr>
    <% }) %>
</table>
</div>
